# Cert-Manager Configuration for Let's Encrypt
# Automatic SSL certificate management

---
# ClusterIssuer for Let's Encrypt Production
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Let's Encrypt production server
    server: https://acme-v02.api.letsencrypt.org/directory
    email: admin@ytvideocreator.com
    
    # Private key for ACME account
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    
    # ACME challenge solvers
    solvers:
    # HTTP-01 challenge (for most domains)
    - http01:
        ingress:
          class: nginx
      selector:
        dnsNames:
        - api.ytvideocreator.com
        - www.api.ytvideocreator.com
    
    # DNS-01 challenge (for wildcards)
    - dns01:
        route53:
          region: us-east-1
          # IAM role for Route53 (IRSA)
          # Will use pod's service account IAM role
      selector:
        dnsNames:
        - "*.ytvideocreator.com"

---
# ClusterIssuer for Let's Encrypt Staging (testing)
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: admin@ytvideocreator.com
    
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    
    solvers:
    - http01:
        ingress:
          class: nginx

---
# Certificate for API domain
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: api-cert
  namespace: production
spec:
  secretName: api-tls-cert
  
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  
  # Certificate settings
  commonName: api.ytvideocreator.com
  dnsNames:
  - api.ytvideocreator.com
  - www.api.ytvideocreator.com
  
  # Renewal settings
  renewBefore: 720h  # 30 days before expiry
  
  # Key settings
  privateKey:
    algorithm: RSA
    size: 2048
    rotationPolicy: Always

---
# Certificate for WebSocket domain
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: ws-cert
  namespace: production
spec:
  secretName: ws-tls-cert
  
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  
  commonName: ws.ytvideocreator.com
  dnsNames:
  - ws.ytvideocreator.com
  
  renewBefore: 720h
  
  privateKey:
    algorithm: RSA
    size: 2048

---
# Wildcard certificate (DNS-01 challenge)
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-cert
  namespace: production
spec:
  secretName: wildcard-tls-cert
  
  issuerRef:
    name: letsencrypt-prod
    kind: ClusterIssuer
  
  commonName: "*.ytvideocreator.com"
  dnsNames:
  - "*.ytvideocreator.com"
  - ytvideocreator.com
  
  renewBefore: 720h
  
  privateKey:
    algorithm: RSA
    size: 2048

---
# IAM Role for cert-manager (Route53 access for DNS-01)
apiVersion: v1
kind: ServiceAccount
metadata:
  name: cert-manager
  namespace: cert-manager
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::ACCOUNT_ID:role/cert-manager-route53"

---
# IAM Policy for Route53 (Terraform)
# resource "aws_iam_role_policy" "cert_manager_route53" {
#   name = "cert-manager-route53-policy"
#   role = aws_iam_role.cert_manager.id
#   
#   policy = jsonencode({
#     Version = "2012-10-17"
#     Statement = [
#       {
#         Effect = "Allow"
#         Action = [
#           "route53:GetChange",
#           "route53:ListHostedZones"
#         ]
#         Resource = "*"
#       },
#       {
#         Effect = "Allow"
#         Action = [
#           "route53:ChangeResourceRecordSets",
#           "route53:ListResourceRecordSets"
#         ]
#         Resource = "arn:aws:route53:::hostedzone/*"
#       }
#     ]
#   })
# }
